{% extends 'pydb4/base.html' %}

{% block content %}

<div>
    <center>
        <h3>Total of {{results|length}} Items with expiration date of {{month_number}} months or less:</h3>
         (negative if expired)</center>
        <div>
            
            {% for p in results %}
            <ul>
                <div class="product card" draggable="true">
                <div class="card-body">
                    <li><strong><a href="{% url 'product_detail' p.id %}">{{ p.name }}</a></strong></li>
                </div>
                <ul>
                <li>Expiration date: {{ p.expiry_date.date }}</li>
                <li>Remaining time until expiration: Years {{ p.days_until_expiry.years }} / Months {{ p.days_until_expiry.months }} / Days {{ p.days_until_expiry.days }}</li>
                <li>Size: {{ p.size }}</li>
                <li>Quantity on hand: {{ p.quantity_on_hand }}</li>
                <li>Reference ID: {{ p.reference_id }}</li>
                <li>Vendor: {{ p.vendor.name }}</li>
                </div>
                </ul>
            </ul>
            {% endfor %}
        </div>
</div>





{% endblock %}