{% extends 'pydb4/base.html' %}

{% block content %}

<br><br><br>

{% if user.is_authenticated %}
<center>Welcome {{user}}! <br><p>You have reached the Inventory Management Site of Omni Vascular Diabetes and Wound Care Center </p></center>

{% else %}
<center>You have reached the Inventory Management Site of Omni Vascular Diabetes and Wound Care Center.</center>
<center>Login required to view and access all features; please login above.</center>
{% endif %}
<br><br><br><br><br>
<center>You are visiting on: {{time}}, {{month}} {{current_day}}, {{year}}</center>



{% endblock %}