<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Omni Vascular IT Resources</center></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


          {% if user.is_authenticated %}

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button"  id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">
            Vendors
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
            <li><a class="dropdown-item" href="{% url 'all-vendors' %}">List of All Vendors</a></li>
 
            <li><a class="dropdown-item" href="{% url 'add_vendor' %}">Add New Vendor</a></li>
          </ul>
        </li>

          
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button"  id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="{% url 'all-products' %}">List of All Products</a></li>
 
            <li><a class="dropdown-item" href="{% url 'add_product' %}">Add New Product</a></li>

            <li><a class="dropdown-item" href="#">Order New Product (Purchase Order)</a></li>
          </ul>
        </li>


       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button"  id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
            Procedures
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            <li><a class="dropdown-item" href="{% url 'all-procedures' %}">List of All Procedures Performed</a></li>
 
            <li><a class="dropdown-item" href="{% url 'procedure' %}">Add New Procedure (Items Used)</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Product Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'expiry_check_products_by_month' month_number=1 %}">Products Expiring within 1 month</a></li>
 
            <li><a class="dropdown-item" href="{% url 'expiry_check_products_by_month' month_number=3 %}">Products Expiring within 1 to 3 months</a></li>

            <li><a class="dropdown-item" href="{% url 'expiry_check_products_by_month' month_number=6 %}">Products Expiring within 3 to 6 months</a></li>
          </ul>
        </li>

          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          



          <li class="nav-item">
            <a class="nav-link" href="{% url 'register_user' %}">Register a New User</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <form method=POST action="{% url 'product_search' %}" class="d-flex" role="search">
            {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Looking for?" aria-label="Search" name="searched">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>

