{% extends 'pydb4/base.html' %}
{% load custom_filters %}

{% block content %}


{% if user.is_authenticated %}
    <h1>Procedure</h1>
<br/><br/>


        <form action="{% url 'procedure' %}" id="myForm" method="POST" enctype="multipart/form-data" style="display: inline-block; float: left; clear: left; width: auto; text-align: left;">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" onclick="confirmFormSubmission(event)" class="btn btn-secondary">
            <button class="btn btn-secondary" onclick="redirectToPage('{% url 'all-products' %}')">Back to List of Products</button>

        </form>
<br/><br/>  

<h1>Just checking:</h1>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfqRsCONwq4ieZpGM_UlUY_ZVHQcvpI0761skKU0yxpal78Bw/viewform?embedded=true" width="640" height="1225" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

{% else %}
<h1>Sorry, you must be logged in to view this page!</h1>

<a href="{% url 'login' %}">Login Here</a>
<button class="btn btn-secondary" onclick="goBack()">Go Back</button>
{% endif %}


<script>

document.addEventListener('DOMContentLoaded', function() {
  var form = document.getElementById('myForm');
  var submitButton = form.querySelector('input[type="submit"]');

  function confirmFormSubmission(event) {
    event.preventDefault(); // Prevent default form submission
    console.log('patientName')
    // Display confirmation popup
    var confirmationMessage = 'Are you sure you want to submit this form?';
    var isConfirmed = confirm(confirmationMessage);

    if (isConfirmed) {
      // Programmatically submit the form
      form.submit();
    }else{
      console.log('did not submit successfully.')
    }
  }
});
</script>




{% endblock %}