
{% extends 'pydb4/base.html' %} 
{% load static %} 


{% block content %} 

<label hidden>
<p>Modifier : {{modifier}}</p>
<p>or Product.employee.id: {{product.employee.id}}</p>
</label>

{% if submitted %}
  <center>Your Product was added successfully!</center>
{% endif %}

{% if request.GET.redirect_flag == "true" %}
  <center>Your Product was updated successfully!</center>
{% endif %}

<br>

<h1>{{ product.name }}</h1>
<br />
<ul>
  <li>Size: {{ product.size }}</li>
  <li>Reference ID: {{product.reference_id}}</li>
  <li>Expiration Date: {{product.expiry_date.date}}</li>
  <li>Quantity on hand: {{product.quantity_on_hand}}</li>
  {% if product.is_purchased %}
  <li>Item Status: Purchased</li>
  {% else %}
  <li>Item Status: Consignment</li>
  {% endif %} 
  {% if user.is_authenticated %}
  <li>Barcode data: 
      <div id="qrcode-2">{{product.barcode}}</div>
      <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode-2"), {
text: {{product.barcode}},
width: 128,
height: 128,
colorDark : "#5868bf",
colorLight : "#ffffff",
correctLevel : QRCode.CorrectLevel.H
});
</script>
  <li>
    <a href="{% url 'update_product' product_id=product.id %}">Update product</a>
  </li>
  {% endif %}
    <li>Last modified: {{product.last_modified}}</li>
  
  {% if records %}
  <button id="history" class="hist tested next"> History of Quantity changes:</button>
  <div id="modTable">
  <table>
<thead>
    <tr>
        <th style="border: 1px solid #333;">Date</th>
        <th style="border: 1px solid #333;">Modified By</th>
        <th style="border: 1px solid #333;">Old Value</th>
        <th style="border: 1px solid #333;">New Value</th>
    </tr>
</thead>
<tbody>

    {% for r in records %}
        <tr>
            <td style="border: 1px solid #333; width: 250px;">{{r.modified_date|date:"D M d Y"}} at {{ r.modified_date|time:"H:i a e" }}</td>
            <td style="border: 1px solid #333;">{{ r.omni_employee }}</td>
            <td style="border: 1px solid #333;">{{ r.old_value }}</td>
            <td style="border: 1px solid #333;">{{ r.new_value }}</td>
        </tr>
    <!-- <hr style="border: 1px dashed black" /> -->
    {% endfor %}

  {% endif %}
</ul>
<button class="btn btn-secondary" onclick="goBack()">Go Back</button>
</tbody>
</table>
</div>
<script src="{% static 'pydb4/script.js' %}"></script>





{% endblock %}



