{% extends 'pydb4/base.html' %}
{% include 'pydb4/messages.html' %}

{% block content %}
{% if user.is_authenticated %}

<label hidden>To do for self: add feature which allows specifying which users allowed to perform certain
    operations, such as edit or update etc. 
    Logic is as follows:


    {% if user == event.manager %}
    {% else %}
    only event's manager can update this event..
    {% endif %}


    essentially done by creating new attribute/class in pydb4/models.py, OmniEmployee or OmniUser, so what 
    is allowed is restricted to those entities already present (need to equate this class with django's
    inherent User model for authentication, link them)

    {{user}} -> allows accessing attributes of who is logged in.

    can also make buttons disappear, depending on who is logged in or not, by using same user.is_authenticated django logic in the html of wherever button is, even if its in product list (some could disappear depending if needed)
     </label>


<center>
    <h1>Updating: <br/> {{ product.name }}</h1>
</center>
<p>Logged in User: {{user}}</p>
<br>
<br/>

<p>Confirm quantity:</p>
<br/>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->

    {% for field in form %}
        {% if field.name != 'quantity_on_hand' %}<p>{{field.label}} {{field}}</p>{% endif %}
        {% if field.name == 'quantity_on_hand' %}
            <p><div id="quantity_update" class="quantity-input">
                {{ form.quantity_on_hand }}
                <button id="increment" type="button" class="quantity-btn increment">+</button>
                <button id="decrement" type="button" class="quantity-btn decrement">-</button>
                </div>

            </p>
        {% endif %}
     
    {% endfor %}
    <br/>
    <input type="submit" value="Update" class="btn btn-secondary"> 
    <input type="button" value="Cancel" class="btn btn-secondary" onclick="location.href='{% url 'home' %}'">
<script>
$(document).ready(function() {
  // Function to increment the value
  $('.increment').click(function() {
    var input = $('#id_quantity_on_hand');
    var value = parseInt(input.val()) || 0;
    input.val(value + 1);
  });

  // Function to decrement the value
  $('.decrement').click(function() {
    var input = $('#id_quantity_on_hand');
    var value = parseInt(input.val()) || 0;
    if (value > 0) {
      input.val(value - 1);
    }
  });
});
</script>
</form>
<br/>
{% else %}
<h1>Sorry, you must be logged in to view this page!</h1>

<a href="{% url 'login' %}">Login Here</a>
<input type="button" value="Cancel" class="btn btn-secondary" onclick="location.href='{% url 'home' %}'">
{% endif %}

{% endblock %} 
