{% extends 'pydb4/base.html' %}


{% block content %}


<center>
    <h1>Login</h1>
</center>
<br/>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <!-- <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> -->
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!-- </li> -->

            {% endfor %}
        </ul>
        {% endif %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}


  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>



    <input type="submit" value="Submit" class="btn btn-secondary"> 
    <button class="btn btn-secondary" onclick="goBack()" >Cancel</button>

</form>


{% endblock %} 
